header{
  width: 100%;
  height: 50px;
  background-color: #477999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar{
  /* background-color: yellow; */
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 180px;
}

#logo{
  margin-left: 5%;
}

#solutions{
  margin-left: 5%;
}

#industries{
  margin-left: 5%;
}

#blog{
  margin-left: 5%;
}

#started{
  position: absolute;
  margin-left: 90%;
}

.top-image{
  width: 100%;
  height: 533px;
  background: linear-gradient(to right, #232728, transparent), url("../img/acl.jpg") no-repeat center;
  background-size: 100% 100%;
  position: relative;
  box-sizing: border-box;
}

#tagline{
  position: absolute;
  top: 30%;
  left: 5%;
  font-size: 42px;
  width: 450px;
  color: white;
}

#tagline2{
  position: absolute;
  top: 29%;
  left: 5%;
  text-transform: uppercase;
  color: lightblue;
}

.section1{
  background: linear-gradient(to bottom, #e6eaed, white);
  position: relative;
  width: 100%;
  height: 600px;
  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start; */
}

.section1-content{
  background-color: yellow;
  position: absolute;
  width: 30%;
  height: 40%;
  top: 40%;
  right: 10%;
}

#control{
  text-align: center;
  /* position: absolute;
  top: 20%;
  right: 20%; */
}

#ability{
  text-align: center;
  /* position: absolute;
  top: 23%;
  right: 20%; */
}

#scale{
  text-align: center;
  /* position: absolute; */
}
